# 필수 설치 

openai
langchain==0.0.147
faiss-cpu==1.7.4
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit
streamlit-extras
streamlit-chat
streamlit-faker==0.0.2
matplotlib
google-cloud-firestore
gTTS
playsound
pyaudio
wave
googletrans==4.0.0-rc1
firebase-admin
# 터미널 = pip install -r requirements.txt