# 필수 설치 

langchain==0.0.147
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit
faiss-cpu==1.7.4
streamlit-extras
streamlit-chat
gTTS
google-cloud-firestore
playsound
openai
portaudio
pyaudio
wave
googletrans==4.0.0-rc1
streamlit-faker==0.0.2
matplotlib

# update st
# 터미널 = pip install -r requirements.txt